<h1>Employee Cards Page</h1>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    <div class="col mb-4" *ngFor="let employee of employees$ | async">
      <div class="card">
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact:true}"
          aria-current="page"
          [routerLink]="['/pracownik/' + employee.name]"
          [queryParams]="{ image: employee.src }"
        >
          <img
            [src]="[employee.src]"
            class="card-img-top"
            [alt]="[employee.name]"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">{{employee.name}}</h5>
          <p class="card-text">{{employee.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
