<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" aria-current="page" [routerLink]="['/']">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" aria-current="page" [routerLink]="['o-nas']">O Nas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" aria-current="page" [routerLink]="['component-tests']">Test Komponentow</a>
  </li>
</ul>
<div class="container">
  <router-outlet></router-outlet>
</div>