$position-values: (
  0: 0,
  50: 50%,
  100: 100%
);
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";


$font-stack: Helvetica, sans-serif;
$primary-color: rgb(43, 40, 40);

body {
  font: 100% $font-stack;
  color: $primary-color;
}


  

.row-full{
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  padding-top: 50px;
  margin-top: 50px;
  left: 50%;
 }